name: Arguments steps
on: push

jobs:
  arguments-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          repository: RenzoPL23/GitActions
          ref: main
          path: ./testActions