name: artifact

on: push

env:
  FILE_NAME: hello-server

jobs:
  artifact-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          repository: RenzoPL23/GitActions
          ref: main
          path: ./testActionsArtifact

      - name: Build Project ${{ env.FILE_NAME }} for ubuntu-latest
        run:  go build -o ./testActionsArtifact/${{ env.FILE_NAME }}
            ./testActionsArtifact/${{ env.FILE_NAME }}.go
      
      - name: Upload Artifact for linux
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: ./testActionsArtifact/${{ env.FILE_NAME }}

  test-linux:
    needs: [artifact-job]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          repository: RenzoPL23/GitActions
          ref: main
          path: ./testActionsArtifact

      - name: Download Artifact for linux
        uses: actions/download-artifact@v5
        with:
          name: linux
          path: ./testActionsArtifact/

      - name: Test  ${{ env.FILE_NAME }} on ubuntu-latest
        run: source ./testActionsArtifact/test.sh
